/*******全体************/
html{
    scroll-behavior: smooth;
  }

body {
    color: #222;
    font-family: sans-serif;
    line-height: 1.5;
}

a{
    color: #0069ff;
}

img{
    max-width: 100%;
    vertical-align: top;
}

/**************
Header
***************/

.ly_header {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .ly_header_inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
  }
  
  .bl_headerNav {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .bl_headerNav_item {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
  }
  
  .bl_headerNav_item:last-child .bl_headerNav_link::after {
    content: none;
  }
  
  .bl_headerNav_link {
    position: relative;
    display: block;
    padding: 15px 5px;
    border-bottom: 4px solid transparent;
    color: #2b2c34;
    text-decoration: none;
    transition: .25s;
  }
  
  .bl_headerNav_link:focus,
  .bl_headerNav_link:hover {
    border-bottom-color:#d1d1e9;
  }
  
  .bl_headerNav_link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    transform: translateY(-50%);
  }

  /******************
  footer
  *******************/
  .ly_footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
  }
  
  .hp_btGray {
    border-top: 1px solid #777 !important;
  }
  
  .ly_footer_inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
  }
  
  .bl_footerNav {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .bl_footerNav_item {
    flex: 1;
    text-align: center;
  }
  
  .bl_footerNav_item > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_footerNav_item:last-child .bl_footerNav_link::after {
    content: none;
  }
  
  .bl_footerNav_link {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .bl_footerNav_link:focus,
  .bl_footerNav_link:hover {
    text-decoration: underline;
  }
  
  .bl_footerNav_link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: currentColor;
    transform: translateY(-50%);
  }
  
  .bl_footerChildNav {
    padding-left: 0;
    list-style-type: none;
  }
  
  .bl_footerChildNav_item {
    margin-bottom: 10px;
  }
  
  .bl_footerChildNav_link {
    color: #ddd;
    font-size: 15px;
    text-decoration: none;
  }
  
  .bl_footerChildNav_link:focus,
  .bl_footerChildNav_link:hover {
    text-decoration: underline;
  }
  
  .el_footerCopyright {
    display: block;
    color: #ddd;
    font-size: 12px;
    text-align: center;
  }
  /*****************
  Main
  ******************/

  .ly_cont {
  max-width: 1230px;
  padding: 80px 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/*******************
Page Title
********************/
.el_lv1Heading {
  padding:  30px 10px;
  background-color:#fffffe;
  color: #2b2c34;
  font-size:  1.75rem;
  text-align:  center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.el_lv1Heading > span {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.el_lv1Heading > span::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%);
}

/****************
Card
******************/
a.bl_card {
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: .25s;
  }
  
  a.bl_card .bl_card_ttl,
  a.bl_card .bl_card_txt {
    transition: .25s;
  }
  
  a.bl_card:focus,
  a.bl_card:hover {
    opacity: .75;
    transform:scale(1.05);
  }
  
  a.bl_card:focus .bl_card_ttl,
  a.bl_card:focus .bl_card_txt,
  a.bl_card:hover .bl_card_ttl,
  a.bl_card:hover .bl_card_txt {
    color:#6246ea;
    text-decoration: underline;
  }
  
.bl_card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
  
  .bl_card_imgWrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    margin: 0;
  }
  
  .bl_card_imgWrapper > img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  
  .bl_card_body {
    padding: 15px;
  }
  
  .bl_card_body > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_card_ttl {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0;
    color: #2b2c34;
  }
  
  .bl_card_txt {
    color: #777;
    margin-top: 0;
  }
  
.bl_cardUnit {
    display: flex;
    flex-wrap: wrap;
  }
  
  .bl_cardUnit.bl_cardUnit__col3 {
    margin-bottom: -30px;
  }
  
  .bl_cardUnit__col3 > .bl_card {
    width: 31.707%;
    margin-right: 2.43902%;
    margin-bottom: 30px;
  }
  
  .bl_cardUnit__col3 > .bl_card:nth-of-type(3n) {
    margin-right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .bl_cardUnit.bl_cardUnit__col3 {
      margin-bottom: -20px;
    }
  
    .bl_cardUnit > .bl_card {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  /*************************
  小さいボタン
  *************************/
  .el_label {
    display: inline-block;
    padding: .2em .3em;
    background-color: #e45858;
    color: #fff;
    font-size: .75rem;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  
  
  /*************************
  ボタン + 画像半分サイズメディア
  **************************/
  .bl_halfMedia {
    display: flex;
    align-items: center;
  }
  
  .bl_halfMedia_imgWrapper {
    flex: 0 1 48.33333%;
    margin: 0 3.33333% 0 0;
  }
  
  .bl_halfMedia_imgWrapper > img {
    width: 100%;
  }
  
  .bl_halfMedia_body {
    flex: 1;
  }
  
  .bl_halfMedia_body > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_halfMedia_ttl {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  .bl_halfMedia_txt {
    margin-top: 0;
  }
  
  @media screen and (max-width: 768px) {
    .bl_halfMedia {
      display: block;
    }
  
    .bl_halfMedia_imgWrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  
  .bl_halfMedia_txt {
    margin-bottom: 20px;

  }
  
  @media screen and (max-width: 768px) {
    .bl_halfMedia .el_btn {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }

/*********************
矢印つきボタン
**********************/
.el_btn {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    padding: 20px 10px;
    background-color:#6246ea;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    transition: .25s;
    box-sizing: border-box;
  }
  
  .el_btn:focus,
  .el_btn:hover {
    background-color: #fffffe;
    border-color: currentColor;
    color:#6246ea;
  }  
  
  .el_btn.el_btn__arrowRight {
    position: relative;
    padding-right: 2em;
    padding-left: 1.38em;
  }
  
  .el_btn.el_btn__arrowRight::after {
    content: '\f061';
    position: absolute;
    top: 50%;
    right: .83em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    transform: translateY(-50%);
  }
  
  
  /***************************
  Contact
  ****************************/
  .bl_cta {
    padding: 30px;
    background-color: rgba(209, 209, 233, .3);
    /**border: 1px solid #2b2c34;**/
    text-align: center;
  }
  
  .bl_cta > *:last-child {
    margin-bottom: 0;
  }
  
  .bl_cta_ttl {
    padding-bottom: 10px;
    margin-top: -6px;
    margin-bottom: 40px;
    border-bottom: 1px solid currentColor;
    color: #2b2c34;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .bl_cta_txt {
      margin-bottom: 20px;
  }
/*************************
普通のボタン中央揃え
**************************/

  .bl_btn_inner{
    text-align: center;
  }
/*************************
メインビュー
**************************/
.hp_bgcBase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-size: 20px;
    text-align: center;
    background-color:#fffffe;
    color:#2b2c34;
    text-transform: uppercase;
}

/*********************************************
コンセプト
*********************************************/
.bl_horizTable {
  border: 1px solid #ddd;
}

.bl_horizTable table {
  width: 100%;
  border-collapse: collapse;
}

.bl_horizTable th {
  width: 20%;
  padding: 15px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.bl_horizTable td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.bl_horizTable tr:last-child th,
.bl_horizTable tr:last-child td {
  border-bottom-width: 0;
}
/*********************************************
コンセプト
*********************************************/
.bl_media_imgWrapper > img {
  object-fit: contain;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}